@using Marketplace.Core.Models
@model UserRolesViewModel
@{
    ViewData["Title"] = "Change Roles";
    var roles = (IEnumerable<SelectListItem>)ViewBag.RoleItems;
}    

<div class="main-content">
    <h2 class="mb-0">@Model.Name</h2>
</div>

<form id="roles" method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
            <h2>Add / Remove Roles for: @Model.Name</h2>
        </div>
        <div class="card-body">
            @*Begin change*@
            @{
                int i = 0;
            }
            @foreach (var x in roles)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@x.Value" name="[@i].Value" />
                    <input type="hidden" asp-for="@x.Text" name="[@i].Text" />
                    <input asp-for="@x.Selected" name="[@i].Selected" class="form-check-input" onclick="$(this).val(this.checked ? true : false)" />
                    <label class="form-check-label" asp-for="@x.Selected">
                        @x.Text
                    </label>
                </div>
                i++;
            }
            @*End change*@
            <div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="card-footer">
             <input type="submit" asp-route-id="@Model.UserId" value="Update" class="btn btn-primary" style="width:auto"/>
            <a asp-page="/admin/user/manageusers" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>