@using Marketplace.Core.Models
@model ProductToEditImagesViewModel
@{
    ViewData["Title"] = "Add Remove Images in Product";
}

<div class="main-content">
    <h2 class="mb-0">@Model.Name</h2>
    <br></br>
</div>

<table class="table table-hover text-nowrap">
    <tbody>
        @foreach (var item in Model.Images)
        {
            <tr>
                <td>
                    <img src="@item.ImagePath" alt="none" width="80" height="auto">
                    <a asp-area="admin" asp-action="deleteimage" asp-controller="product" asp-route-id="@Model.Id" asp-route-imageToDelete="@item.Id" class="btn btn-info btn-danger float-right"> Delete Image </a>
                    <p><a href="@item.ImagePath">Open image.</a></p>
                </td>
            </tr>
        }
    </tbody>
</table>


<br></br>
<div class="card-body">
    <form id="addimage" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <label>Add image to product</label>
            <div class="input-group mb-3">
                <input asp-for="Name" value="" placeholder="image path" aria-required="true" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button asp-area="admin" asp-action="addimage" asp-controller="product" asp-route-id="@Model.Id" id="imageSubmit" type="submit" class="btn btn-info btn-info float-left">Add Image</button>
    </form>
    <partial name="_ValidationScriptsPartial" />
</div>